# Sets Challenge

## Basic Set Theory
> - Elements of sets must be hashable but sets are not hashable
> - `Cardinality`: of a set is the number of elements in the set
> - `Disjoint sets`: are sets that have no intersecting elements aka have 0 cardinality
> - `Subsets`: A set s1 is a subset of set s2 if all elements in s1 are in s2
> - `Proper subset`: A set s1 is a proper subset of s2 `IF` s1 is a subset of s2 `AND` s1 is not equal to s2
> - `Superset`: A set s1 is a superset of s2 if s2 is a subset of s1
> - `Proper superset`: A set s1 is a proper superset of s2 `IF` s2 is a subset of s1 `AND` s1 is not equalt to s2

## Python sets
> - `Cardinality` : len(s)
> - `Membership testing` : in / not in
> - `Unions` : s1 | s2 / s1.union(s2)
> - `Intersections` : s1 & s2 / s1.intersection(s2)
> - `Difference` : s1 - s2 / s1.difference(s2)
> - `Symetric Difference` : s1 ^ s2 / s1.symetric_difference(s2)
> - `Subsets` : s1 <= s2 / s1.issubset(s2)
> - 'Propper Subsets' : s1 < s2
> - `Superset` : s1 >= s2, s1.issuperset(s2)
> - `Proper Superset` : s1 > s2
> - `Disjointness` : s1.isdisjoint(s2)

>#### Frozen Sets:
> - The imutable equivalent of sets `frozenset`
> - Membership lookup much faster than any other data types since it's a table hash lookp. eg: <br> 
> `if a in {10, 20, 30}:`

## Create Sets

### Challenge 1

> Create a set using literal notation

Create a set `s` using elements `(1,2,3), 'a', 100`. <br>
Can you create an empty set using literal notation?

In [11]:
# Example

# Note, empty sets do not have a literal notation

s = {(1,2,3), 'a', 100}
s

{(1, 2, 3), 100, 'a'}

### Challenge 2

> Create a set using a constructor with an iterable

Create a set `s` using a constructor with elements `(1,2,3), 'a', 100`.

In [13]:
# Example

s = set([(1,2,3), 'a', 100])
s

{(1, 2, 3), 100, 'a'}

### Challenge 3

> Create an empty set.

Create an empty set `s`. <BR>
Can we create an empty set using literal?

In [12]:
# Example
s = set()
s

set()

### Challenge 4

> Create an empty set.

Create an empty set `s`

### Challenge 5

> Use `set` to compute % of distinct letters.

Create a function `scorer` that takes as imput a string and calculates the percentage of unique letters in the string from total letters in alphabet.

Make sure that only `lower` and `alpha` characters are counted, by using set operation.

In [7]:
# Example
from string import ascii_lowercase

def scorer(s):
    alphabet = set(ascii_lowercase)
    s = set(s.lower())
    # This intersection ensures only alphabet
    # characters are considered
    clean_s = s & alphabet
    return len(clean_s) / len(alphabet)

scorer('amazing')

0.23076923076923078

---

## Common Operations with Sets

### Challenge 1

> Adding element to a set.

Create an empty set called `s` and add characters `a` and `z` to the set.

In [9]:
# Example

s = set()

s.add('a')
s.add('z')
print(s)

{'a', 'z'}

### Challenge 2

> Remove an element of a set allowing for exceptions to be raised.

With set `s={'a','b','c'}` remove element `a` and element `z`.

In [12]:
# Example

s={'a','b','c'}
s.remove('a')
print(s)
s.remove('z')

{'c', 'b'}

KeyError: 'z'

### Challenge 3

> Remove an element of a set **without** allowing for exceptions to be raised.

With set `s={'a','b','c'}` remove element `a` and element `z`.

In [13]:
# Example
s={'a','b','c'}
s.discard('a')
print(s)
s.discard('z')
print(s)

{'c', 'b'}
{'c', 'b'}

### Challenge 4

> Remove an arbitrary element from the set.

With set `s={'a','b','c'}` remove an arbitrary element.

In [37]:
# Example

s={'a','b','c'}
s.pop()
print(s)

{'c', 'b'}

---

## Set Operations

### Challenge 1

> Find intersection of elements using explicit syntax.

Using sets `s1 = {1,2,3}, s2 = {2,3,4}, s3 = {3,4,5}` find the intersection using explicit syntax.

In [2]:
# Example
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

s1.intersection(s2,s3)

{3}

### Challenge 2

> Find intersection of elements using operator syntax.

Using sets `s1 = {1,2,3}, s2 = {2,3,4}, s3 = {3,4,5}` find the elements intersection using operator syntax.

In [3]:
# Example
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

s1 & s2 & s3

{3}

### Challenge 3

> Find union of elements using explicit syntax

With sets `s1 = {1,2,3}, s2 = {2,3,4}` find the union of the elements using explicit syntax.

In [5]:
# Example

s1 = {1,2,3}
s2 = {2,3,4}

s1.union(s2)

{1, 2, 3, 4}

### Challenge 4

> Find union of elements using operator syntax

With sets `s1 = {1,2,3}, s2 = {2,3,4}` find the union of the elements using operator syntax.

In [6]:
# Example
s1 = {1,2,3}
s2 = {2,3,4}

s1 | s2

{1, 2, 3, 4}

### Challenge 5

> Find if 2 sets are disjoint.

With sets `s1 = {1,2,3}, s2 = {4,5,6}` check if the sets are disjoint using explicit syntax and operators.

In [9]:
# Example

s1 = {1,2,3}
s2 = {4,5,6}

print(s1.isdisjoint(s2))
print( len(s1 & s2) == 0 )

True
True

### Challenge 6

> Set difference

With sets `s1 = {1,2,3}, s2 = {3,4,5}` check the difference between `s2` and `s1` using explicit syntax and operators.

In [12]:
# Example

s1 = {1,2,3}
s2 = {3,4,5}

print(s2.difference(s1))
print(s2 - s1)

{4, 5}
{4, 5}

### Challenge 7

> Set simetric difference

With sets `s1 = {1,2,3,4,5}, s2 = {4,5,6,7,8}` check the simetric difference using explicit syntax and operators.

In [16]:
# Example

s1 = {1,2,3,4,5} 
s2 = {4,5,6,7,8}

print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

### Challenge 8

> Subsets and proper subsets

With sets:
```
s1 = {1,2,3}
s2 = {1,2,3}
```
Test if `s1` is subset of `s2`. <br>
Test if `s1` is propper subset of `s2` <br>
Use both explicit syntax and operators where available.

In [26]:
# Example
s1 = {1,2,3}
s2 = {1,2,3}

# subset test
print(f'is {s1} subset of {s2}:', s1.issubset(s2))
print(f'is {s1} subset of {s2}:', s1 <= s2)

# proper subset
# Note: proper subset does not have explicit syntax
print(f'is {s1} proper subset of {s2}:', s1 < s2)

is {1, 2, 3} subset of {1, 2, 3}: True
is {1, 2, 3} subset of {1, 2, 3}: True
is {1, 2, 3} proper subset of {1, 2, 3}: False

### Challenge 9

> Supersets and proper supersets

With sets:
```
s1 = {1,2,3}
s2 = {1,2,3,4}
```
Test if `s2` is superset of `s1`. <br>
Test if `s2` is proper superset of `s1`. <br>
Use both explicit syntax and operators where available.

In [34]:
# Example
s1 = {1,2,3}
s2 = {1,2,3,4}

print(f'is {s2} superset of {s1}:', s2.issuperset(s1))
print(f'is {s2} superset of {s1}', s2 >= s1)
print(f'is {s2} propper superset of {s1}', s2 > s1)

is {1, 2, 3, 4} superset of {1, 2, 3}: True
is {1, 2, 3, 4} superset of {1, 2, 3} True
is {1, 2, 3, 4} propper superset of {1, 2, 3} True

---

## Update Operations
> Sets can be mutated using operators:
> - Union: `s1 |= s2` or `s1.update(s2)`
> - Intersection: `s1 &= s2` or `s1.intersection_update(s2)`
> - Difference: `s1 -= s2` or `s1.difference_update(s2)`
> - Simetric difference: `s1 ^= s2` or `s1.symmetric_difference_update(s2)`

### Challenge 1

> Union update

With sets:
```
s1 = {1,2,3}
s2 = {2,3,4}
```
Union update `s1` with `s2` using both explicit syntax and operator.

In [40]:
# Example

s1 = {1,2,3}
s2 = {2,3,4}

s1.update(s2)
print(s1)

s1 |= s2
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4}

### Challenge 2

> Intersect Update

With sets:
```
s1 = {1,2,3}
s2 = {2,3,4}
```
Intersect update `s1` with `s2` using both explicit syntax and operator.

In [44]:
# Example

s1 = {1,2,3}
s2 = {2,3,4}

s1 &= s2
print(s1)

s1.intersection_update(s2)
print(s1)

{2, 3}
{2, 3}

### Challenge 3

> Difference update

With sets:
```
s1 = {1,2,3}
s2 = {2,3,4}
```
Difference update `s1` with `s2` using both explicit syntax and operator.

In [49]:
# Example

s1 = {1,2,3}
s2 = {2,3,4}

s1 -= s2
print(s1)

s1.difference_update(s2)
print(s1)

{1}
{1}

### Challenge 4

> Symmetric difference update

With sets:
```
s1 = {1,2,3}
s2 = {2,3,4}
```
Test symetric difference update `s1` with `s2` using both explicit syntax and operator.

In [53]:
# Example

s1 = {1,2,3}
s2 = {2,3,4}

s1 ^= s2
print(s1)

s1.symmetric_difference_update(s2)
print(s1)

{1, 4}
{1, 2, 3}

---

## Frozen Sets
> Have the same behavior as sets except, they can't be mutated. <br>
> Frozen sets are hashable. <br>
> Because frozen sets are imutable identical frozen sets have the same memory id. `Eg: frozenset({1,2,3}) is frozenset({1,2,3) == True`

### Challenge 1

> Create frozen set

With set `s1 = {['a','b', 'c']}` create a frozen set `s2`

In [5]:
# Example

s1 = {'a','b', 'c'}
s2 = frozenset(s1)
print(s2, type(s2))

frozenset({'a', 'c', 'b'}) <class 'frozenset'>

### Challenge 2

> Frozenset shallow copy

Is there a reason to create a shallow copy of a frozen set?

In [11]:
# Example

# There is no reason to createa a copy of a frozen set because it is 
# an imutable object therefor two identical frozen sets will share the 
# same memory id

s1 = frozenset((1,2,3))
s2 = frozenset(s1)
s3 = s2.copy()

print(s1 is s2, s1 is s3)
print(id(s1), id(s2), id(s3))

True True
140056137840672 140056137840672 140056137840672

### Challenge 3

> Frozenset deep copy

What happens when creating a deep copy of a frozen set? <br>
Please demonstrate

In [15]:
# Example

# When creating a deep copy of a frozen set we get a new object

from copy import deepcopy

s1 = frozenset([1,2,3])
s2 = deepcopy(s1)

print(id(s1), id(s2))

140056137841792 140056137840000

### Challenge 4

> Frozenset union type

Using sets:
```
s1 = frozenset('ab') 
s2 = set(1,2)
``` 

Create two unions one between `s3 = s1 and s2` and another between `s4 = s2 and s1`. <br>
What will be the types of `s3 and s4` ?

In [22]:
# Example

# When doing a union between a frozenset and a set the 
# result type will be (depndent) aka the same as the first 
# element in the union

s1 = frozenset('ab') 
s2 = set([1,2])

s3 = s1 | s2
s4 = s2 | s1

print(f's3 {s3} type is:',type(s3))
print(f's4 {s4} type is:',type(s4))

s3 frozenset({'a', 2, 1, 'b'}) type is: <class 'frozenset'>
s4 {1, 2, 'a', 'b'} type is: <class 'set'>

### Challenge 5

> Use frozenset as dictionary key. <br>
> Sets are not hashable but frozensets are which means we can use them as keys in dictionaries. Previously we created a class Person that had to implement two rules in order to be used as a dictionary key. We can achive roughly the same outcome using frozen sets with the caveat that equality won't be implemented between instances.

Create a class `Person` that can be used as key in a dictionary. The class must contain:
- Takes as imput two private variables: `name` and `age`
- Has a representation
- Implement property getter for `name` and `age`
- Use frozenset as `key` for the class. This will be a method of the class

with instances:
```
p1 = Person('John', 78)
p2 = Person('Eric', 75)
```
Create a dictionary `d` with `p1` and `p2` keys and `p1 and p2` instances as values. <br>
Search dictionary value `p1` using a new frozenset with the same attributes as instance `p1`.

In [36]:
# Example

class Person:
    def __init__(self, name, age):
        self._name = name
        self._age = age
        
    def __repr__(self):
        return f'Person(name={self.name}, age={self.age})'
        
    @property
    def name(self):
        return self._name
    
    @property
    def age(self):
        return self._age
    
    def key(self):
        return frozenset({self.name, self.age})

    
p1 = Person('John', 78)
p2 = Person('Eric', 75)
            
d = {p1.key():p1, p2.key():p2}
d[frozenset(['John', 78])]

Person(name=John, age=78)

---

## Dictionary Views